<aside
    class="sidebar"
    [class.mobile-open]="sidebarOpen">

    <div class="logo">

      <mat-icon color="primary">
        account_balance_wallet
      </mat-icon>

      <div>

        <h2>Daily Expense</h2>

        <span>Tracker</span>

      </div>

    </div>

    <nav>

      <a routerLink="/dashboard" class="active">

        <mat-icon>dashboard</mat-icon>

        Dashboard

      </a>

      <a routerLink="/expenses">

        <mat-icon>receipt_long</mat-icon>

        Expenses

      </a>

      <a routerLink="/add-expense">

        <mat-icon>add_circle</mat-icon>

        Add Expense

      </a>

      <a>

        <mat-icon>category</mat-icon>

        Categories

      </a>

      <a>

        <mat-icon>analytics</mat-icon>

        Reports

      </a>

      <a>

        <mat-icon>settings</mat-icon>

        Settings

      </a>

    </nav>

  </aside>