<aside
    class="sidebar"
    [class.mobile-open]="sidebarOpen">

    <div class="logo">

      <mat-icon color="primary">
        account_balance_wallet
      </mat-icon>

      <div>

        <h2>{{ t.translate('dashboard') }}</h2>

        <span>{{ t.translate('expenses') }}</span>

      </div>

    </div>

    <!-- <nav>

      <a routerLink="/dashboard" class="active">

        <mat-icon>dashboard</mat-icon>

        Dashboard

      </a>

      <a routerLink="/expenses">

        <mat-icon>receipt_long</mat-icon>

        Expenses

      </a>

      <a routerLink="/add-expense">

        <mat-icon>add_circle</mat-icon>

        Add Expense

      </a>

      <a>

        <mat-icon>category</mat-icon>

        Categories

      </a>

      <a>

        <mat-icon>analytics</mat-icon>

        Reports

      </a>

      <a>

        <mat-icon>settings</mat-icon>

        Settings

      </a>

    </nav> -->
    <nav>

      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidebar()">

        <mat-icon>dashboard</mat-icon>
        {{ t.translate('dashboard') }}

      </a>

      <a
        routerLink="/expenses"
        routerLinkActive="active"
        (click)="closeSidebar()">

        <mat-icon>receipt_long</mat-icon>
        {{ t.translate('expenses') }}

      </a>

      <a
        routerLink="/add-expense"
        routerLinkActive="active"
        (click)="closeSidebar()">

        <mat-icon>add_circle</mat-icon>
        {{ t.translate('addExpense') }}

      </a>

      <!-- <a
        routerLink="/categories"
        routerLinkActive="active">

        <mat-icon>category</mat-icon>
        Categories

      </a> -->

      <a
        routerLink="/reports"
        routerLinkActive="active"
        (click)="closeSidebar()">

        <mat-icon>analytics</mat-icon>
        {{ t.translate('reports') }}

      </a>

      <a
        routerLink="/settings"
        routerLinkActive="active"
        (click)="closeSidebar()">

        <mat-icon>settings</mat-icon>
        {{ t.translate('settings') }}

      </a>

    </nav>
  </aside>